.forgetPassword
{
    background-color: #16192585;
    backdrop-filter: blur(5px);
    margin-left: 35vw;
    padding: 20px 20px;
}

.forgetPassword h1
{
    font-size: 40px;
}

.forgetPassword .form
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px 0px;
}

.forgetPassword .form button
{
    margin-top: 10px;
    border-radius: 0;
}

.forgetPassword .form button:hover
{
    border-radius: 8px;
    background-color:#51b89a85;
    transition: 500ms all ease
}

.forgetPassword .fieldDiv
{
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.forgetPassword .fieldDiv label
{
    font-size: 14px;
}

.forgetPassword .fieldDiv input
{
    height: 30px;
    background-color: var(--c_darkest);
    border: 1px solid transparent;
    padding: 5px;
    outline: none;
    color: var(--c_white);
}

.forgetPassword .fieldDiv input:hover
{
    border-color: var(--c_emphasis);
    transition: 500ms all ease;
}

.forgetPassword .bottomLinks
{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}